/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
	background-image:url(images/backgrounds/subtle_white_mini_waves.png);
}

header {
	height: 140px;
	background-color: darkblue;
	background-image:url(images/backgrounds/subtle_brown_mini_waves.png);
}

.logo {
  font-family: 'Times New Roman', cursive;
  font-size: 72px;
  color: white;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
	font-family: Arial, serif;
	color: white;
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

footer {
	background-color: darkblue;
	background-image:url(images/backgrounds/subtle_brown_mini_waves.png);

}

section {
	padding: 0 25%;
  margin: 80px 0;
}

/* -------  Type ------- */

h1, h2, h3 {
  font-family: Arial, sans-serif;
	color: black;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: Courier, sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: darkgreen }
a:visited { color: lightgreen }
a:hover { color: #403933; }
a:active { color: #403933; }
a:hover {
	text-decoration: underline;	
}

em {
  font-weight: bold;
  font-style: normal;
}

footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

/* -------  Elements ------- */

img, iframe { 
  width: 100%;	
  border-radius: 8px;
  border: 1px solid #c5c0b8;
} 

/* -------  Modifier styles ------- */

.border-top {
  padding-top: 80px;
  border-top: 2px solid black;
}